body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.container{
   background-color: aqua;
   display: flex;
   flex-direction: column;
}

.header{
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    height: 60px;
    background-color: black;
    color:#fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer{
    position: fixed;
    bottom: 0;
    z-index: 9;
    width: 100%;
    height: 60px;
    background-color: black;
    color:#fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.home{
    display: flex;
    
}

.left-bar {
    position: fixed;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0;
    box-sizing: border-box;
}

.right-bar{
    position: fixed;
    right: 0;
    width: 200px;
    height: 100%;
    background-color: rgb(255, 0, 0);
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 0;
    box-sizing: border-box;
}

.right-bar h2{
   color: white;
   font-size: 16px;
   margin: 15px 5px 5px 15px;
}

.top-menu, .bottom-menu{
    
    display: flex;
    flex-direction: column;
}

.homepage{
    background-color: #444;
    min-height: 100vh;
    width: 100%;
    padding: 60px 0;
    margin: 0px 150px;
    box-sizing: border-box;
}

.ads-banner{
    background-color: black;
    height: 150px;
    width: 250px;
}

.homepage-covers-list{
    display: flex;
    padding: 20px;
    flex-direction: column;
}
.cover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
}

.homepage-covers{
    margin-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.homepage-album-covers{
    width: 100%;
    max-width: 160px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

}
.homepage-album-covers img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    margin: 0;
    padding: 0;
}
.text-bg{
    width: 100%;
    height: 64px;
    padding: 10px 0;
}
.text-bg button{
   margin-left: 75px;
   margin-top: -78px;
   height: 35px;
   width: 35px;
   border-radius: 100px;
   border: 0px;
   position: absolute;
   cursor: pointer;
   
}

.text-bg h1{
    font-size: 16px;
    color: #bbb;
    margin: 0;
    padding: 3px 0;
}
.text-bg a{
    font-size: 14px;
    color: #999;
    text-decoration: none;
}

.banner{
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.banner-container{
    width: 60%;
    max-width: 850px;
    height: 350px;
    background-image: url("artist-page-bg/taylor-swift-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
}

.banner-title{
    display: flex;
    flex-grow: 1;
    margin: 20px 30px;
}
.title{
    flex-grow: 1;
}
.title p, h2{
    padding: 0;
    margin: 0;
}
.banner-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-button button{
    border-radius: 20px;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.7);
    cursor:pointer;
}
