body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.container{
   background-color: aqua;
   display: flex;
   flex-direction: column;
}

.header{
    width: 100%;
    height: 60px;
    background-color: black;
    color:#fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.footer{
    width: 100%;
    height: 60px;
    background-color: black;
    color:#fff;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.home{
    display: flex;
    
}

.aside-bar{
    flex-grow: 1;
    background-color: gray;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; butonları aşağıdan ve yukarıdan ortaya alır   */
}

.aside-bar button:hover,
.aside-bar button.active {
    background-color:  red;
    position: relative;
    z-index: 1;
 }


.aside-bar button{
    height: 35px;
    width: 120px;
    border: 0px;
    border-radius: 10px;
    margin: 15px;
    background-color: rgb(55, 25, 138);
    color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.aside-bar button i{
    position: absolute;
    margin-left: -50px;
}

.homepage{
    background-color: white;
    height: 85vh;
    width: 186vh;
    border-radius: 20px;
}
.homepage-covers-list{
    display: flex;
    background-color: blueviolet;
    height: 360px;
    align-items: center;
}

.homepage-covers{
    height: 250px;
    width: 188px;
    margin-left: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
}
.homepage-album-covers{
    height: 160px;
    width: 150px;
    position: absolute;
    top: 39%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.homepage-album-covers img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.text-bg{
    margin-top: 150px;
    width: 100%;
    height: 40%;
}
.text-bg h1{
    font-size: 18px;
    margin-left: 24px;
    margin-top: 32px;
    height: 12px;
}
.text-bg a{
    font-size: 14px;
    margin-left: 24px;
    color: grey;
    text-decoration: none;
}